/* make ease of access for font, colour, and weight */
/* have center alignment for aesthetics */
/* have section headers equal for looks in terms of position, size, colour  */
/* have list items rowed and none bulletted */
:root {
    --ff: Onyx, Arial, Helvetica, sans-serif;
    --fontcolor: lightsteelblue;
    --font-weight: bold;
}

html {
    font-family: var(--ff);
    letter-spacing: 2px;
    background-color: rgb(54, 54, 54);
}

header {
 text-align: center;
}

section{
    padding-left: 400px;
    padding-top: 40px;
}

footer{
    padding-left: 400px;
    padding-top: 150px;
}

div li {
    list-style-type: none;
}


div li a {
    text-align: center;
    width: 200px;
    color: var(--fontcolor);
    font-size: 45px;
    border-style: groove;
    border-radius: 20px;
    border-color: var(--fontcolor);
}
.container-1 {
    padding-right: 400px;
}

/* have header over image */
.header-photo h1 {
    font-size: 60px;
    color: var(--fontcolor);
    background-color: rgb(54, 88, 138);
    opacity: .8;
    box-shadow: 100px 0px 10px 0px rgb(31, 41, 31);
    position: relative;
    top: 280px;
}

.header-photo {
    background-image: url("./resized\ keyboard\ image.jpg");
    width: 100%;
    height: 320px;
}


/* profile picture */
.first-image {
    box-shadow: 30px 40px 40px -10px rgb(31, 36, 31);
    float: left;
    z-index: 2;
    position:relative;
    padding-top: 100px;

}

body section {
    align-content: flex-start;
}
section h2 {
    margin-top: 100px;
    text-decoration: underline;
    text-align: center;
    box-shadow: 100px 0px 10px 0px rgb(31, 36, 31);
}

section p {
    font-size: 25px;
    text-align: center;
    color: steelblue;
    font-family: var(--ff);
}

section {
    font-weight: var(--font-weight);
    color: var(--fontcolor);
    font-family: var(--ff);
}

section h2,
section h3 {
    text-align: center;
    text-decoration: underline;
    font-family: var(--ff);
    color: var(--fontcolor);
    font-size: 45px;
    box-shadow: 100px 0px 10px 0px rgb(31, 36, 31);
}

ul {
    list-style-type: none;
}

section .container-0 {
    display: flex;
    flex-direction: row;
    border: 10px;
    justify-content: space-around;
}

/* project image first one larger*/
.project-flex a:first-child {
    text-align: center;
    width: 300px;
    color: var(--fontcolor);
    font-size: 20px;
    border-style: groove;
    border-radius: 20px;
    border-color: var(--fontcolor);
}

/* projects smaller image here */
.project-flex a {
    text-align: center;
    width: 150px;
    color: var(--fontcolor);
    font-size: 18px;
    border-style: groove;
    border-radius: 15px;
    border-color: var(--fontcolor);
}

.project-img {
    text-align: center;
    width: 100%;
    border-radius: 20px;
}
.project-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}


/* have visual changed to buttons change size and colour */
/* add grab affect with cursor */
/* make have colour over box when hover */
a:hover {
    cursor: grabbing;
    box-shadow: 0 0 50px lightsteelblue;
}

 a:active {
    font-size: 16px;
    box-shadow: 0 0 20px lavender inset;
}

a::focus {
    border-color: solid color var(--fontcolor);
    outline: none;
}
#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer h4 {
    text-align: center;
    text-decoration: underline;
    font-family: var(--ff);
    color: var(--fontcolor);
    font-size: 45px;
    box-shadow: 100px 0px 10px 0px rgb(31, 36, 31);
}

footer section {
    color: var(--fontcolor);
    font-size: 25px;
}

.container-1 a {
    color: var(--fontcolor);
    font-size: 25px;
    padding-right: 80px;
}

footer p {
    padding-top: 300px;
    color: var(--fontcolor);
    flex-wrap: wrap;
    text-align: center;
    font-size: 25px;
    font-family: var(--ff);
}

/* have screen changes be movable to fit with desktop, phone, and tablet sizes w/in changes of px */

@media screen and (max-width: 769px) {
    html {
        width: 100%;
        background-color: rgb(47, 44, 44);
        display: flex;
        flex-wrap: wrap;
    }
    section {
        padding-left: 280px;
    }
    .container-1 a {
        color: var(--fontcolor);
        font-size: 25px;
        padding-right: 80px;
}
}

@media screen and (max-width: 481px) {
    html {
        width: 100%;
        background-color: rgb(29, 28, 28);
        display: flex;
        flex-direction: wrap;
    }
    section {
        padding-left: 200px;
    }
    .container-1 a {
        color: var(--fontcolor);
        font-size: 25px;
        padding-right: 80px;
}
}

@media screen and (max-width: 320px) {
    html {
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: wrap;
    }
        section {
        padding-left: 180px;
    }
.container-1 a {
        color: var(--fontcolor);
        font-size: 25px;
        padding-right: 80px;
}
}